@font-face{
    src: url(./corbel/CORBEL.TTF);
    font-family: corbel;
}

*{
    margin: 0;
    padding: 0;
    font-family: corbel ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
     background-color: #9da09d;
    color: #ffffff;
}

#header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container{
    padding: 1rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 14rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
}

nav ul li a::after{
content: ' ';
width: 0;
height: 0.3rem;
background:#DD9D02;
position: absolute;
left: 0;
bottom: -0.6rem;
transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}


 video{
    width: 1650px;
    height: 1900px;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    display: block;
  }

.header-text h1{
    font-size: 6rem;
    margin-top: 2rem;
}

.header-text h1 span{
    color: #DD9D02;
}

/*----------about---------------*/

#about{
    padding: 5rem 0;
    margin: 0px;
    color: #ffffff;
    font-size: 0.625rem;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 0.9375rem;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 3.75rem;
    font-weight: 600;
    color: #ffffff;
}

.sub-par{
    font-weight: 90;
    font-size: 1.5625rem;
    color: #ffffff;
}

.tab-titles{
    display: flex;
    margin: 1.25rem 0 2.5rem;
}

.tab-links{
    color: #ffffff;
    margin-right: 3.125rem;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: ' ';
    width: 0;
    height: 0.1875rem;
    background: #DD9D02;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
list-style: none;
margin: 0.625rem 0;
}

.tab-contents ul li span{
    color: #666966;
    font-size: 0.9375rem;
    font-weight: 600;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*--------------services----------------*/

#services{
    padding: 2vh 0;
    margin: 2vw;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    grid-gap: 2.5vw;
    margin-top: 3.5vh;
}

.services-list div{
    background: #666966;
    padding: 2.5vh;
    font-size: 1.3vw;
    font-weight: 300;
    border-radius: 0.8vw;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 5vw;
    margin-bottom: 3vh;
}

.services-list div h3{
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 1.5vh;
}

.services-list div p{
    font-size: 1.5vw;
}

.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4vw;
    margin-top: 2vh;
    display: inline-block;
    
}

.services-list div:hover{
    background: #878460;
    transform: translateY(-1vh) ;
}

/*-------------portfolio----------------*/

#portfolio{
    padding: 1.5rem 0;
    margin: 1.875rem;
    }
    
    .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2.5rem;
    margin-top: 1.5625rem;
    }
    
    .work{
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
    }
    
    .work img{
    width: 100%;
    border-radius: 0.625rem;
    display: block;
    transition: transform 0.5s;
    }
    
    .layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.033), #DD9D02);
    border-radius: 0.625rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 0.9375rem;
    transition: height 0.5s;
    }
    
    .layer h3{
    font-weight: 500;
    margin-bottom: 1.25rem;
    }
    
    .layer a{
    margin-top: 1.25rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 3.75rem;
    background: #878460;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    text-align: center;
    }
    
    .work:hover img{
    transform: scale(1.1);
    }
    
    .work:hover .layer{
    height: 100%;
    }
    
    .btn{
    display: block;
    margin: 1.5625rem auto;
    width: fit-content;
    border: 0.1875rem solid #ffffff;
    padding: 0.5625rem 1.5625rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
    }
    
    .btn:hover{
    background: #878460;
    }

/*-------------contact----------------*/
#contact .container{
    display: flex;
    justify-content: center;
    }
    
    .contact-left{
    flex-basis: 35%;
    }
    
    .contact-right{
    flex-basis: 60%;
    }
    
    .contact-left p{
    margin-top: 30px;
    }
    
    .contact-left p i{
    color: #ffffff;
    margin-right: 15px;
    font-size: 25px;
    }
    
    .social-icons{
    margin-top: 30px;
    }
    
    .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #666966;
    display: inline-block;
    transition: transform 0.5s;
    }
    
    .social-icons a:hover{
    color: #ffffff;
    transform: translateY(-5px);
    }
    
    .btn.btn2{
    font-size: 20px;
    display: inline-block;
    background: #878460;
    }
    
    .contact-right form{
    width: 100%;
    }
    
    form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: #666966;
    font-size: 18px;
    border-radius: 6px;
    }
    
    form .btn.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    }
    
    .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #666966;
    font-weight: 300;
    margin-top: 20px;
    }
/*-------------css for small screens----------------*/
nav .fa-solid{
    display: none;
    margin: 12px;
}
@media only screen and (max-width: 767px){
    #header{
        background: rgb(135,132,96); /*------fondo anim---------*/
    }
    
    nav .fa-solid{
        margin: 40px;
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #666966;
        position: fixed;
        top: 0;
        right: 0;
        width: 155px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 55px;
        margin-left: 50px;
        
    }
    nav ul .fa-solid{
        position: absolute;
        top: 15px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 45px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 15px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 50px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
